/**
 * @file index.css
 * @description Estilos globais, variáveis de tema e utilitários customizados.
 */

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-bg-base: var(--bg-base);
  --color-bg-card: var(--bg-card);
  --color-bg-grid: var(--bg-grid-color);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-border-main: var(--border-main);
}

:root {
  /* Dark Mode (Default) */
  --primary: #FEFACD;
  --secondary: #5F4A8B;
  --accent: #E6B325;
  --bg-base: #0d0b14;
  --bg-card: #1a1625;
  --bg-grid-color: #2d263f;
  --text-main: #e2f0e4;
  --text-muted: #94a3b8;
  --border-main: #2d263f;
}

[data-theme="light"] {
  /* Light Mode */
  --primary: #4A3B6B;      /* Inversão: O roxo vira a cor de destaque principal */
  --secondary: #70648b;    /* Mantém o Accent para botões e alertas */
  --accent: #B88A10;       /* Um tom de ouro mais escuro para leitura em fundo claro */
  --bg-base: #eeebfa;      /* Cinza claríssimo, quase papel técnico */
  --bg-card: #e9e8fa;      /* Branco puro para destacar os "dossiês" */
  --bg-grid-color: #baaad6;/* Linhas de grade sutis para manter o look industrial */
  --text-main: #1E293B;    /* Azul marinho profundo para legibilidade máxima */
  --text-muted: #2a214b;   /* Cinza para descrições técnicas secundárias */
  --border-main: #CBD5E1;  /* Bordas finas que lembram formulários impressos */
}



body {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
  background-color: var(--bg-base);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mono { font-family: var(--font-mono); }

.bg-grid {
  background-image: radial-gradient(var(--bg-grid-color) 1px, transparent 1px);
  background-size: 40px 40px;
}

.text-glow {
  text-shadow: 0 0 15px rgba(254, 250, 205, 0.4);
}

[data-theme="light"] .text-glow {
  text-shadow: 0 0 10px rgba(74, 59, 139, 0.2);
}

.accent-glow {
  text-shadow: 0 0 10px rgba(230, 179, 37, 0.6);
}

.purple-glow {
  box-shadow: 0 0 20px rgba(95, 74, 139, 0.3);
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

::selection {
  background: var(--secondary);
  color: var(--primary);
}
